<html>
  <head>
    <title>All Permits</title>
  </head>
  <body>
    <h1>US Parks</h1>

    <h3>Admin: All Permits</h3>

    <table>
      <tr>
        <th>Park</th><th>Hiker</th>
      </tr>
      <tr>
        <td>Yellowstone</td><td>Hiker One</td>
      </tr>
      <tr>
        <td>Denali</td><td>Hiker Two</td>
      </tr>
      <tr>
        <td>Yosemite</td><td>Hiker One</td>
      </tr>
      <tr>
        <td>Yellowstone</td><td>Hiker Three</td>
      </tr>
    </table>
  </body>
</html>
