<form method="GET" action="/max">
  <input type="text" name="list">
  <input type="text" name="num1">
  <input type="submit" value="submit">
</form>


<form method="GET" action="/min">
  <input type="text" name="list">
  <input type="submit" value="submit">
</form>