.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#page {
/* top, right, bottom, left  -OR- NESW */
  margin: 0 auto 0 auto;
  width: 500px;
}

#page header h1 {
  float: left;
}

#page header img {
  display: block;
  float: right;
}

#walls h2 {
  font-size: 32px;
}

.wall-list {
  list-style-type: none;
  padding: 0;
}

.wall {
  background-color: rgb(240,240,240);
  border: 1px solid rgb(128,128,128);
  border-radius: 4px;
  margin-bottom: 16px;
  padding: 16px;
}

.wall .wall-title {
  line-height: 24px;
  margin: 0 0 8px 0;
  font-size: 24px;
}

.wall .wall-description {
  font-size: 16px;
  line-height: 1.4;
}

.wall .wall-description p {
  /* Remember: NESW */
  margin: 0 0 8px 0;
}

.wall .wall-actions {
  padding: 0;
}

.wall .wall-actions li {
  display: inline-block;
  margin-right: 16px;
}


/* inline tags / block tags */
/* inline: span, em, strong, a, img  */
/* block: div, p, ul, li, h1/2/3/4, etc. */
/* block tags expand to take up 100% of the line width unless
 otherwise specified */
