<h3>Submit a list of integers and get the max</h3>
<form method="GET" action="/max">
  <input type="text" name="list" placeholder="list">
  <input type="submit" value="submit">
</form>


<h3>Submit a list of integers and get the min</h3>
<form method="GET" action="/min">
  <input type="text" name="list" placeholder="min">
  <input type="submit" value="submit">
</form>