<html>
  <head>
    <title>Login</title>
  </head>
  <body>
    <form action="/login" method="post">
      U: <input type="text" name="username" value=""><br>
      P: <input type="password" name="password" value="">

      <input type="submit" value="Login">
    </form>
  </body>
</html>
