<html>
  <head>
    <title>US Parks</title>
  </head>
  <body>
    <h1>US Parks</h1>

    <p>
      The home page for the US parks system
    </p>

    <hr>

    <ul class="parks">
      <li><a href="/yellowstone">Yellowstone</a></li>
      <li><a href="/denali">Denali</a></li>
      <li><a href="/yosemite">Yosemite</a></li>
      <li><a href="/acadia">Acadia</a></li>
    </ul>
  </body>
</html>
